@charset "utf-8";

/* Box Sizing Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
body{
  background-color: #d1e7f8;
}
.container{
  max-width: 480px;
  margin: auto;
  box-shadow:0 0 0 .5em #0089d5,
  0 0 0 1em #5fcf80;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 40px;
}
span{
  background-color:#5fcf80;
  color: white;
  padding:5px;
  border-radius: 50%;
}
input[type=text]{
  display: block;
  padding-bottom: 10px;
  font-size: 1.1em;
  font-weight: 100px;
  width: 90%;
  background-color: #e8eeef;
  border: none;
  border-radius: 4px;
}
textarea{
  display: block;
  width: 90%;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #e8eeef;
  border: none;
  border-radius: 4px;
}
input[type=radio]:checked:focus{
  background-color: #0089d5;
}

input[type=select]{
  display: block;
  padding-bottom: 10px;
  font-size: 1.1em;
  font-weight: 100px;
  width: 90%;
}
input[type=text]:focus, textarea:focus{
  outline: 3px solid #5fcf80;
  border-radius: 4px;
  
}

label{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: 100px;
  
}
input{
  margin-bottom: 10px;
  margin-top: 10px;
}
select{
  padding-bottom: 10px;
  background-color: #e8eeef;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;

}

input[type=submit]{
  background-color: #5fcf80;
  color: #ffffffea;
  border: none;
  padding: 15px;
  resize: vertical;
  width: 90%;
}

